mixin warn(msg, n)
  - ln = ""
  if n && n.line
    - ln = " (input line " + n.line() + ")"
  - console.error("WARNING" + ln + ": " + msg)

mixin error(msg, n)
  - ln = ""
  if n && n.line
    - ln = " (input line " + n.line() + ")"
  - console.error("ERROR:" + ln + ": " + msg)
  - process.exit(1)

mixin children(e, opts)
  +nodes(e.childNodes())

mixin nodes(list)
  each c in list
    case c.type()
      when 'text'
        if c.text().trim().length > 0
          = c.text()
      when 'cdata'
        :cdata
          !{c.text()}
      when 'comment'
        if defs.mode != 'RFC'
          != "<!--" + c.text() + "-->"
      when 'element'
        - var nm = c.name()
        if jade_mixins[nm] != null
          +#{nm}(c)
        else
          +elem(c, opts)
      when 'pi'
        //- ignore PIs
        //- if defs.mode != 'RFC'
        //- != "<?" + c.name() + " " + c.text() + "?>"
        +warn("PI remaining in input", c)
      when 'entity_ref'
        //- should not happen
        +warn("Unexpanded entity reference " + c.name(), c)
        = "&" + c.name() + ";"
      default
        +warn("Undefined node type: " + c.type(), c)
